<div data-role="page" id="%{id}%" data-add-back-btn="true">
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <h1>Story</h1>
    </div>
    <div data-role="content" class="oldPage">
        <h3 class="content_title">{title}</h3>
        <p class="content_abstract">{abstract}</p>
        <div class="oneHalf gutter">
            <div class="story">
                <div id="storyEmbSlide">
                    <div class="slideshow ssMain">
                        <div class="nextPrevLayer">
                            <div class="ssImg" style="display: block;">
                                <img src="{img_url}" style="width:100%" alt="{img_alt}" itemprop="image">
                                <div class="artImageExtras">

                                    <div class="ingCaptionCredit">
                                        <span class="caption">{caption}</span>&nbsp;<span class="credit">{credit}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- remove the whitespace added by escenic before end of </a> tag -->
                <div id="mainBodyArea" itemprop="articleBody">
                    {articleBody}
                </div>

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var params;
                    var disqus_shortname = 'fhtelegraphpoc'; // Required - Replace example with your forum shortname
                    var disqus_identifier = '%{id}%';
                    var disqus_title = '{title}';
                    var disqus_url = '{img_url}';

                    window.onload = function () {
                        var match,
                                pattern = /\+/g,
                                search = /([^&=]+)=?([^&]*)/g,
                                decode = function (s) { return decodeURIComponent(s.replace(pattern, " ")); },
                                query = window.location.search.substring(1);

                        params = {};
                        while (match = search.exec(query))
                            params[decode(match[1])] = decode(match[2]);

                        if (params["shortname"] == undefined || params["url"] == undefined || params["title"] == undefined) {
                            alert("Required arguments missing");
                        }
                        else {
                            loadComments(params["shortname"], params["url"], params["title"], params["identifier"]);
                        }
                    }

                    function loadComments(shortname, url, title, identifier) {
                        disqus_url = url;
                        disqus_title = title;
                        disqus_shortname = shortname;

                        if (identifier != undefined)
                            disqus_identifier = identifier;
                        else
                            disqus_identifier = "";

                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = false;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    }
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

                {related}
            </div></div></div>
</div>
